#clickIt {
    background: #0d6efd;
    color: #ffffff;
    border: 1px solid #885df1;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    max-width: 165px;
    font-size: large;
  }
  